.wish-route-wrapper{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.wish-wrapper{
    margin-bottom: 20px;
}

.wish-title{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.comment-form {
    display: contents;
}

h2{
    margin-top: 10px;
}

.second-row-wrapper{
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.comment-form input{
    width: 460px;
    height: 50px;
    border: none;
    border: solid 1px black;
    color: black;
    margin: 5px 0px;
    font-size: 14px;
    padding-left: 10px;
}
.second-row-wrapper input{
    /* display: flex; */
    width: 260px;
    height: 50px;
    border: none;
    border: solid 1px black;
    color: black;
    margin: 5px 0px;
    font-size: 14px;
    padding-left: 10px;
}

.second-row-wrapper button{
    box-sizing: border-box;
    border: solid 1px black;
    width: 160px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 10%;
    transition: all 0.8s ease;

}

.second-row-wrapper button:hover {
    background-color: slategrey;
}

/* Comment box style */
.comment-wrapper{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 10px;
}

@media screen and (max-width:520px) {
    .comment-wrapper{
        width: 100%;
    }
    .second-row-wrapper{
        display: flex;
        justify-content: space-around;
        width: 90%;
    }

    .comment-form input{
        width: 80%;
        height: 40px;
        margin: 5px 0px;
        padding-left: 10px;
    }
    .second-row-wrapper input{
        /* display: flex; */
        width: 160px;
        height: 40px;
        
    }
    
    .second-row-wrapper button{
        width: 120px;
        height: 45px;
    }
    
}